body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;

}
body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
    background-size: cover;
}
nav {
	position: relative;
	top:0;
	height: 50px;
	background-color:grey;
	text-align; left;
	margin:0;

}
.logo {
	position: absolute;
	border-radius: 50%;
	padding-right: 5px;
	border: 1px black solid;
	max-height: 100%;
	width:auto;
}
ul#navlink li {
	display:inline;
}

.dashes {
	margin-top: 100px;
	margin-left: auto;
	margin-right:auto;
	border: 10px green dotted;
	position:relative;
	width: 600px;
	height: 300px;
	
}
a {
  text-decoration: none;
  padding-left:50px;
  display: inline-block;
}

.cat, .dog {
  position: absolute;
  width:200px;
}

.cat {
top : -100px;
left: -100px;
}
.dog {
	bottom: -100px;
	right: -50px;
}